{:paths ["src" "test"]
 :deps {io.github.kotoba-lang/org-iso-16739
        {:git/url "https://github.com/kotoba-lang/org-iso-16739.git"
         :git/sha "b3db042bce1f842dbb1552e8bff40987b0ba9192"}
        io.github.kotoba-lang/org-iso-10303
        {:git/url "https://github.com/kotoba-lang/org-iso-10303.git"
         :git/sha "1e5c7d1bf4e9343bc012d56662228173da6f6082"}
        io.github.kotoba-lang/svg
        {:git/url "https://github.com/kotoba-lang/org-w3-svg.git"
         :git/sha "85ed9094977ea3744edfa892a59cfd19dd3be8d1"}
        io.github.kotoba-lang/document-contracts
        {:git/url "https://github.com/kotoba-lang/kotoba-document-contracts.git"
         :git/sha "54ef0873bbc41aff75577441fce15a046a1cc668"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
           :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
                  :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                              "--fail-level" "error"]}}}
